.custom-navbar {
  height: 100px;
  background-color: #ebdcc7;
  color: white;
}

.container {
  height: 100vh;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
}
.navbar-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.addButton {
  padding: 1px 10px;
  margin-left: 10px;
}

.shareButton {
  padding: 1px 10px;
  margin-right: 10px;
}
.shareAlert {
  position: fixed;
  top: 0;
  right: 0;
  margin: 1rem;
  z-index: 9999;
}

.shareAlert.fade {
  opacity: 0;
  transition: opacity 0.15s linear;
}

.shareAlert.show {
  opacity: 1;
  transition: opacity 0.15s linear;
}
body {
  display: flex;
  flex-direction: column;
}
.wishlist {
  flex: 1;
}
.empty {
  padding-left: 10px;
  padding-right: 10px;
}
footer {
  bottom: 0;
  height: 50px;
  background-color: #f5f5f5;
  text-align: center;
  width: 100%;
}
.formControl {
  margin-bottom: 10px;
}

.button {
  margin-left: 10px;
  float: right;
}
